importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "hist", "par", "plot", "points", "boxplot")
importFrom("stats", "IQR", "median", "prcomp", "quantile", "var")
importFrom("ALDEx2", "getMonteCarloInstances", "numMCInstances")
import("compositions", "zCompositions")
#export( codaSeq )
exportPattern( "^codaSeq[.]*" )
