importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "hist", "par", "plot", "points", "boxplot", "rect", "stripchart")
importFrom("stats", "IQR", "median", "prcomp", "quantile", "var")
importFrom("car", "dataEllipse")
importFrom("ALDEx2", "getMonteCarloInstances", "numMCInstances")
import("zCompositions")
#export( codaSeq )
exportPattern( "^codaSeq[.]*" )
